<%- include('template/cabecera',{titleWeb:`Detalle del animal`})%>

<div class="contenedor-detalle">
    <p class="detalle-title">Detalle del animal</p>
    <% if (error) { %>
        <p class="detalle-mesanje"><%= mensaje%></p>
        <p class="detalle-botton">
            <a href="/mascotas" class="botton">Volver a la tablas de animales</a>
        </p>
    <% } %>

    <% if (!error) { %>

        <form id="form-editar">
            <input class="form-input" type="text" value="<%= mascota.nombre %>" name="nombre" placeholder="Nombre">
            <input class="form-input" type="text" value="<%= mascota.edad %>" name="edad" placeholder="Edad">
            <input class="form-input" type="text" value="<%= mascota.color %>" name="color" placeholder="Color"><br>
            <button class="form-buttonOne">
                <a class="form-editarOne" href="">Editar</a>
            </button>
        </form>
        <hr>
        <button class="color"
        id="btn-canturrador"
        data-btn="<%= mascota.id %>">
            Eliminar 
        </button> 
    <% } %>
</div>

<script src="/js/model.js" type="module"></script>

</body>
</html>