<%- include('template/cabecera',{titleWeb:`Mascotas`})%>

<table class="table">
    <thead>
        <tr>
            <th class="col" scope="col">Codigo</th>
            <th class="col" scope="col">Nombre</th>
            <th class="col" scope="col">edad</th>
            <th class="col" scope="col">color</th>
        </tr>
    </thead>
    <tbody>
        <% if (arrayMascotas.length > 0) { %>
        <% arrayMascotas.forEach(mascotas => { %>
        <tr>
            <th class="infor" scope="row"><%= mascotas.id %> </th>
            <td class="infor"><%= mascotas.nombre %> </td>
            <td class="infor"><%= mascotas.edad %> </td>
            <td class="infor"><%= mascotas.color %> </td>
        </tr>
        <% }) %>
        <% } %>
    </tbody>
</table>

<button class="button">
    <a class="button-enviar" href="/crear">Crear una nueva mascota</a>
</button>

</body>

</html>